*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfe3ee;
}
.right.box{
    background-color: white;
    text-align: center;
    border: 2px outset white;
    display: block;
    margin: auto;
    float: right;
    margin-right: 340px;
    padding: 10px;
    margin-top: 170px;
    border-radius: 10px;
}
.right.box input{
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.right.box .email{
    margin-top: 5px;
}
.right.box .pass{
    margin-top: -5px;
    margin-bottom: 20px;
}
.right.box .l-1 a{
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.right.box .l-1 .login{
    border: 1px solid rgb(18, 18, 18);
    border-radius: 2px;
    width: 307px;
    padding: 8px;
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: #3b5998;
    transition: transform 0.5s ease-in-out;
}
.right.box .login:hover{
    transform: translateY(-3px);
}
.right.box .Forgot{
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
}
.right.box .Forgot:hover{
    transform: translateY(-3px);
}
.right.box hr{
    margin: auto;
    width: 250px;
}
.right.box .create{
    border: 1px solid rgb(18, 18, 18);
    border-radius: 2px;
    width: 207px;
    padding: 8px;
    margin:auto;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: green;
    transition: transform 0.5s ease-in-out;
}
.right.box .create:hover{
    transform: translateY(-3px)
}
.left.box {
    display: inline-flex;
    margin-left: 150px;
    margin-top: 200px;
}
.left.box h1{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    font-weight: 1500;
    font-size: 50px;
    color: #3b5998;
    margin-left: 100px;
}
.left.box p{
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 80px;
    margin-left: -200px;
}
footer{
    background-color: white;
}